<div class="container-fluid">
    <div class="top_bar navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">
           Top 10 Artists
          </a>
           
        </div>
    </div>
    <!--TABLE SECTION-->
    <table class="table table-striped mt-3 text-center">
        <thead>
            <tr>
                <th scope="col">Artists</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Songs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem, ipsum.</td>
                <td>Lorem ipsum dolor sit.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
        </tbody>
    </table>
</div>